{% extends 'base.html' %}

{% from 'bootstrap/pagination.html' import render_pagination %}
{% block title %}Manage Comments {% endblock %}

{% block context %}
<div class="page-header">
    <h1>Comments
        <small>{{ pagination.total }}</small>
    </h1>

    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Filter</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.args.get('filter','all') == 'all' %}active{% endif %}"
               href="{{ url_for('admin.manage_comment',filter='all') }}">
                ALL
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.args.get('filter') == 'unread' %}active{% endif %}"
               href="{{ url_for('admin.manage_comment',filter='unread') }}">
                Unread
                {% if unread_comment %}
                <span class="badge badge-success">
                    {{ unread_comments }}
                </span>
                {% endif %}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.args.get('filter') == 'admin' %}active{% endif %}"
               href="{{ url_for('admin.manage_comment',filter='admin') }}">
                From Admin
            </a>
        </li>
    </ul>

    {% if comments %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>No.</th>
            <th>Author</th>
            <th>Body</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
        </thead>
        {% for comment in comments %}
        <tr {% if not comment.reviewed %}class="table-warning" {% endif %}>
            <td>{{ loop.index + ((pagination.page - 1) * config['BLUELOG_COMMENT_PER_PAGE']) }}</td>
            <td>
                {% if comment.from_admin %}
                {{ admin.name }}
                {% else %}
                {{ comment.author }}
                {% endif %}
                {% if comment.site %}
                <a href="{{ comment.site }}" target="_blank">
                    {{ comment.site }}
                </a>
                {% endif %}
                <a href="mailto::{{ comment.email }}">{{ comment.email }}</a>

                {% if comment.form_admin %}
                <span class="badge badge-primary">Author</span>
                {% endif %}
            </td>
            <td>{{ comment.body }}</td>
            <td>{{ moment(comment.timestamp).format('LL') }}</td>
            <td>
                {% if not comment.reviewed %}
                <form class="inline" method="post"
                      action="{{ url_for('.approve_comment'.comment_id=comment.id,next=request.full_path) }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <button type="submit" class="btn btn-success btn-sm">
                        Approve
                    </button>
                </form>
                {% endif %}
                <a class="btn btn-info btn-sm"
                   href="{{ url_for('blog.show_post',post_id=comment.post.id) }}">
                    Post
                </a>
                <form class="inline" method="post"
                      action="{{ url_for('.delete_comment',comment_id=comment.id,next=request.full_path) }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure?';)">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    <div class="page-header">
        {{ render_pagination(pagination) }}
    </div>
    {% else %}
    <div class="tip">
        <h5>
            No comment.
        </h5>
    </div>
    {% endif %}
</div>
{% endblock %}